<!DOCTYPE html>
<html>
<head>

<title>Smart Attendance System</title>

<style>

body{
    background:#111827;
    color:white;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
}

.card{
    background:#171717;
    padding:20px;
    margin:15px;
    border-radius:15px;
}

button{
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
    border:none;
    border-radius:10px;
}

</style>

</head>

<body>

<div class="container">

    <h1>Smart Attendance System</h1>

    <p>Select Section</p>

    <div class="card">

        <a href="/section/A">
            <button>AI&DS A</button>
        </a>

    </div>

    <div class="card">

        <a href="/section/B">
            <button>AI&DS B</button>
        </a>

    </div>

</div>

</body>
</html>