<!DOCTYPE html>
<html>
<head>

<title>Login</title>

<style>

body{
    background:#111827;
    color:white;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card{
    background:#171717;
    padding:30px;
    border-radius:15px;
    width:300px;
}

input{
    width:100%;
    padding:10px;
    margin-top:10px;
    margin-bottom:15px;
}

button{
    width:100%;
    padding:12px;
}

</style>

</head>

<body>

<div class="card">

<h2>CR Login</h2>

<form method="POST">

<input
    type="text"
    name="username"
    placeholder="Username"
    required
>

<input
    type="password"
    name="password"
    placeholder="Password"
    required
>

<button type="submit">
    Login
</button>
<p style="margin-top:15px;text-align:center;">
    Smart Attendance Management System
</p>

</form>

</div>

</body>
</html>